@page "/Test/{memo:int}"
@page "/Test"

<h3>@Title</h3>
<br />
<br />
<h4>路由参数：</h4>
<h4>@Memo</h4>

<input @attributes="InputAttributes" />

<input title="@Title" value="@Value" />

<button @onclick="OnClick" style="width:100px; height:30px;">click me</button>

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Value { get; set; }

    /// <summary>
    /// 路由参数
    /// </summary>
    [Parameter]
    public string Memo { get; set; }

    public Dictionary<string, object> InputAttributes { get; set; } = new Dictionary<string, object>() {
        { "title", "input1" },
        { "value", "10" }
    };

    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }
}
