@page "/counter"
@using BlazorApp.Data

<h1 style="font-style:@style">Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<br />
<br />

@*双向绑定*@
<input @bind="Name" />
<button @onclick="Update">Update</button>

<br />
<br />

@*组件绑定*@
<Test3 @bind-Title="Name"></Test3>

<br />
<br />

<input type="datetime" @bind="Time" @bind:format="yyyy-MM-dd hh:mm:ss" />

<br />
===================数据验证
<EditForm Model="@child">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText @bind-Value="@child.Code" />
    <ValidationMessage For="()=>child.Code" />

    <InputText @bind-Value="@child.Name" />
    <ValidationMessage For="()=>child.Name" />

    <button type="submit">Submit</button>
</EditForm>
===================

@code {

    private int currentCount = 0;
    private string style = "italic";
    private void IncrementCount()
    {
        currentCount++;
        style = style == "italic" ? "normal" : "italic";
    }

    public string Name { get; set; } = "Tang";
    public void Update()
    {
        Name = "Test1";
    }

    public DateTime Time { get; set; } = DateTime.Now;

    public Child child = new Child();

    //嵌套了child，如何校验？（预览版存在）
    public Father father = new Father();
}
